.table {
    margin: 0 auto;
    width: 90%;
}
.table th,
.table td {
    padding: 10px;
}
.table th {
    background-color: lightgray;
}
.table th:nth-child(1) {
    width: 10px;
}
.table th:nth-child(3),
.table th:nth-child(4) {
    width: 100px;
}
.table th:nth-child(5) {
    width: 60px;
}
.table td:last-child {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 20px;
}
.search {
    display: block;
    margin: 0 auto 20px;
    padding: 3px 15px;
    border: 1px solid gray;
    border-radius: 8px;
}
