.container {
    max-width: 1200px;
    margin: 0 auto;
}
.content {
    display: flex;
    align-items: center;
}
.content__info {
    height: 100vh;
    width: 35vw;
    overflow: hidden;
    overflow-y: scroll;
}
.popup {
    width: 200px;
    height: auto;
}
.popup__name {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.popup__image {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
